<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.gdu.myhome.dao.FreeMapper">
	
  <insert id="insertFree" parameterType="FreeDto">
    INSERT INTO FREE_T (
      FREE_NO,
      EMAIL, 
      CONTENTS, 
      CREATED_AT, 
      STATUS, 
      DEPTH,
      GROUP_NO, 
      GROUP_ORDER
    ) VALUES (
      FREE_SEQ.NEXTVAL,
      #{email},
      #{contents},
      SYSTIMESTAMP,
      1,
      0,
      FREE_SEQ.CURRVAL,
      0
    )
  </insert>
  
  <select id="getFreeCount" resultType="int">
    SELECT COUNT(*)
      FROM FREE_T
  </select>
  
  <select id="getFreeList" parameterType="Map" resultType="FreeDto">
    SELECT FREE_NO, EMAIL, CONTENTS, CREATED_AT, STATUS, DEPTH, GROUP_NO, GROUP_ORDER
      FROM (SELECT ROW_NUMBER() OVER(ORDER BY GROUP_NO DESC, GROUP_ORDER ASC) AS RN, FREE_NO, EMAIL, CONTENTS, CREATED_AT, STATUS, DEPTH, GROUP_NO, GROUP_ORDER
            FROM FREE_T)
     WHERE RN BETWEEN #{begin} AND #{end}
  </select>
  
  <!-- 댓글 -->
  
  <update id="updateGroupOrder" parameterType="FreeDto"> <!-- 원글 Dto -->
    UPDATE FREE_T
       SET GROUP_ORDER = GROUP_ORDER + 1
     WHERE GROUP_NO = ${groupNo}
       AND GROUP_ORDER > ${groupOrder}
  </update>
  
  <insert id="insertReply" parameterType="FreeDto"> <!-- 댓글 Dto -->
    INSERT INTO FREE_T (
      FREE_NO,
      EMAIL, 
      CONTENTS, 
      CREATED_AT, 
      STATUS, 
      DEPTH,
      GROUP_NO, 
      GROUP_ORDER
    ) VALUES (
      FREE_SEQ.NEXTVAL,
      #{email},
      #{contents},
      SYSTIMESTAMP,
      1,
      #{depth},
      #{groupNo},
      #{groupOrder}
    )
  </insert>
  
  <update id="removeFree" parameterType="int">
    UPDATE FREE_T
       SET STATUS = 0
     WHERE FREE_NO = ${freeNo}
  </update>
  
  <select id="getSearchCount" parameterType="Map" resultType="int">
    SELECT COUNT(*)
      FROM FREE_T
     WHERE ${column} LIKE '%' || #{query} || '%'
  </select>
  
  <select id="getSearchList" parameterType="Map" resultType="FreeDto">
    SELECT FREE_NO, EMAIL, CONTENTS, CREATED_AT, STATUS, DEPTH, GROUP_NO, GROUP_ORDER
      FROM (SELECT ROW_NUMBER() OVER(ORDER BY GROUP_NO DESC, GROUP_ORDER ASC) AS RN, FREE_NO, EMAIL, CONTENTS, CREATED_AT, STATUS, DEPTH, GROUP_NO, GROUP_ORDER
              FROM FREE_T
             WHERE ${column} LIKE '%' || #{query} || '%')
     WHERE RN BETWEEN #{begin} AND #{end}
  </select>
  
</mapper>